/*
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
*/
.markdown_edit {
  width: 95%;
  background: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.markdown_edit .CodeMirror {
  color: rgb(85, 85, 85);
  min-height: 60px;
  height: auto;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.markdown_edit .CodeMirror-scroll {
  min-height: 60px;
  max-height: 500px;
}
.markdown_edit .CodeMirror-fullscreen .CodeMirror-scroll {
  max-height: none;
}
.markdown_edit .editor-statusbar {
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.markdown_edit .fullscreen,
.markdown_edit .CodeMirror-fullscreen,
.markdown_edit .editor-preview {
  z-index: 1001;  /* should always be under help modal */
}
.markdown_edit .editor-preview pre {
  font-family: monospace;
}
.editor-toolbar.disabled-for-preview a:not(.fa-eye):not(.fa-arrows-alt):not(.fa-columns)::before {
  color: #BBB;
}

.CodeMirror .CodeMirror-code .cm-comment {
  font-family: monospace;
  background: inherit;
  color: #888;
}
.CodeMirror .CodeMirror-code .cm-link {
  color: #33a;
}
.CodeMirror .CodeMirror-code .cm-url {
  color: #33d;
}
/*
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
*/
.page_list {
    float: right;
    margin: 0 20px 20px 0;
    font-size: 1.1em;
}

/*

	jQuery Tags Input Plugin 1.3.3

	Copyright (c) 2011 XOXCO, Inc

	Documentation for this plugin lives here:
	http://xoxco.com/clickable/jquery-tags-input

	Licensed under the MIT license:
	http://www.opensource.org/licenses/mit-license.php

	ben@xoxco.com

*/

div.tagsinput { padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #0077AA; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #eeeeff; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag:hover { background-color: #ebebeb; }
div.tagsinput span.tag a { font-weight: bold; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Helvetica,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=0px&bgColorHeader=ffffff&bgTextureHeader=01_flat.png&bgImgOpacityHeader=100&borderColorHeader=aed0ea&fcHeader=2c343b&iconColorHeader=576785&bgColorContent=ffffff&bgTextureContent=04_highlight_hard.png&bgImgOpacityContent=100&borderColorContent=ffffff&fcContent=2c343b&iconColorContent=576875&bgColorDefault=edf3fb&bgTextureDefault=04_highlight_hard.png&bgImgOpacityDefault=80&borderColorDefault=aed0ea&fcDefault=2c343b&iconColorDefault=576785&bgColorHover=edf3fb&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=c3dcf0&fcHover=2c343b&iconColorHover=2c343b&bgColorActive=aed0ea&bgTextureActive=04_highlight_hard.png&bgImgOpacityActive=50&borderColorActive=aed0ea&fcActive=2c343b&iconColorActive=576785&bgColorHighlight=ffef8f&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=25&borderColorHighlight=f9dd34&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=cd0a0a&bgTextureError=01_flat.png&bgImgOpacityError=15&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffffff&bgColorOverlay=111517&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=20&opacityOverlay=60&bgColorShadow=111517&bgTextureShadow=01_flat.png&bgImgOpacityShadow=90&opacityShadow=30&thicknessShadow=7px&offsetTopShadow=-7px&offsetLeftShadow=-7px&cornerRadiusShadow=0px
*/


/* Component containers
----------------------------------*/
.ui-widget { font-size: .8em; }
.ui-widget-content { border: none; background: rgb(255,255,255); color: rgb(69,69,69);  }
.ui-widget-content a { color: rgb(69,69,69);  }
.ui-widget-header { border-bottom: 1px solid rgb(215,215,215); background: rgb(255,255,255) ; color: rgb(69,69,69);  font-weight: bold; }
.ui-widget-header a { color: rgb(69,69,69);  }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid rgb(215,215,215); background: rgb(235,235,235); font-weight: bold; color: rgb(69,69,69); }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: rgb(69,69,69);  text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #c3dcf0; background: rgb(235,235,235); color: rgb(69,69,69);  }
.ui-state-hover a, .ui-state-hover a:hover { color: rgb(69,69,69);  text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid rgb(215,215,215); background: rgb(235,235,235); color: rgb(69,69,69);  }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: rgb(69,69,69);  text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #f9dd34; background: #ffef8f 50% top repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: rgb(69,69,69); }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #cd0a0a; color: rgb(255,255,255); }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: rgb(255,255,255) ; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: rgb(255,255,255) ; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }



/* Misc visuals
----------------------------------*/


/* Overlays */
.ui-widget-overlay { background: #111517 50% 50% repeat-x; opacity: .60;filter:Alpha(Opacity=60); }
.ui-widget-shadow { margin: -7px 0 0 -7px; padding: 7px; background: #111517 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }/* Resizable

----------------------------------*/
/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */



/* Menu
----------------------------------*/
.ui-menu {
	list-style:none;
	padding: 3px;
	margin: 0;
	display:block;
	border: 1px solid #ccc;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px;
}
/*
       Licensed to the Apache Software Foundation (ASF) under one
       or more contributor license agreements.  See the NOTICE file
       distributed with this work for additional information
       regarding copyright ownership.  The ASF licenses this file
       to you under the Apache License, Version 2.0 (the
       "License"); you may not use this file except in compliance
       with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing,
       software distributed under the License is distributed on an
       "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
       KIND, either express or implied.  See the License for the
       specific language governing permissions and limitations
       under the License.
*/
.ui-combobox {
  position: relative;
  display: inline-block;
}

.ui-combobox-toggle {
  color: black;
  background-color: transparent;
  cursor: default;
  display: inline-block;
  font-size: .7em;
  padding: 5px;
  position: absolute;
  top: 0;
  margin-top: 2px;
  margin-left: -21px;
}
